.message-description {
  text-align: center;
  padding-inline-start: 40px;
  padding-inline-end: 40px;
}
.message-description p {
  font: var(--headline5);
  font-weight: 400;
  padding-block-end: 24px;
}
.message-description p:nth-child(2) {
  font-weight: 700;
}
@media screen and (min-width: 1024px) {
  .message {
    text-align: center;
    padding-inline-start: 220px;
    padding-inline-end: 220px;
    padding-block-start: 200px;
  }
  .message-description {
    max-width: 700px;
  }
  .message-description p {
    font: var(--headline5);
    min-inline-size: 100%;
    font-weight: normal;
    padding-block-start: 10px;
  }
  .message-description p:nth-child(2) {
    font-size: 18px;
    padding-block-end: 10px;
  }
}
