* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
}
:root {
  --bg-gradient: radial-gradient(
      41.48% 11.48% at 2.38% 8.52%,
      #747de9 0%,
      rgba(255, 255, 255, 0) 100%
    ),
    linear-gradient(135deg, #72edf2 0%, #5151e5 100%);
}
/* ..............styles................ */
body {
  background: var(--bg-gradient);
  min-block-size: 100vh;
}

.header {
  display: flex;
  justify-content: space-between;
}
